body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
.flexible-container{
   display: flex;
   margin-bottom: 150px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
   font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: rgb(174, 0, 255);
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(217, 0, 255), tomato);
    padding: 10px 30px;
    color:azure;
    font-weight: 700;
    border-radius: 5px;
}

#mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   padding-left: 5px;
    box-shadow: 5px 5px 40px black;
}
#item1{
    border-left: 7px solid tomato;
}
#item2{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
    color: gray;
}